<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">


            <h3>Edit Listing</h3>
           <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required/>
                     <div class="valid-feedback">Title Goods Looks</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label >
                    <textarea name="listing[description]" class="form-control"required > <%= listing.description %></textarea>
                     <div class="invalid-feedback">Description Need Better</div>
                </div>
                
                <div class="mb-3 preview image">
                    Original Image <br>
                <img src="<%= originalImageUrl %>">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input name="listing[image]"  type="file" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" value="<%= listing.price %>" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">please provide valid price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" value="<%= listing.country %>" name="listing[country]"
                        class="form-control" required>
                         <div class="invalid-feedback">
      Please select a valid country.
    </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                     <div class="invalid-feedback">
      Please select a valid City.
    </div>
                </div>

                <button class="btn btn-dark edit-btn mt-3 ">Edit</button>

            </form>
        </div>
    </div>